// Colours
$--clr-neutral: hsla(0, 0%, 100%, 1);
$--clr-neutral-200: hsla(0, 0%, 95%, 1);

$--clr-primary-100: hsla(218, 52%, 24%, 1);
$--clr-primary-200: hsla(237, 54%, 60%, 1);

$--clr-accent-100: hsla(37, 95%, 56%, 1);
$--clr-accent-200: hsla(0, 71%, 71%, 1);
$--clr-accent-300: hsla(145, 43%, 56%, 1);

// Font family
$--ff-primary: "Poppins", sans-serif;

// Font weight
$--fw-regular: 400;
$--fw-medium: 500;
$--fw-semibold: 600;
$--fw-bold: 700;
